.clan {
  display: flex;
  flex-direction: row;
  border-style: dashed;
  border-width: 3px;
  border-radius: 5px;
}

.clanIcon {
  width: 64px;
  height: 64px;
}

.member {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.member .memberRole {
  padding-right: 4px;
}

.member .memberData {
  padding-right: 16px;
}